# Entornos virtuales
.venv/
venv/
env/

# Datos (archivos grandes, se descargan automáticamente)
data/*.csv

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Variables de entorno
.env
.env.*

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp